
.info{
	width:100%;
	height: 86.5%;
	background-image: url(../image/bg.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #fff;
    text-align: center;
    .Title{
    	font-weight: 800;
    	font-size: 3vw;
    	width: 70%;
    	padding-top: 16vw;
    	margin-left: 15%;
    	padding-bottom: 15px;
    	/*border-bottom: 1px solid #CCC;*/
    	@media (max-width: 414px){
    		padding-top: 20vw;
            font-size: 5vw;

    	}
    }
	.link{
		margin-left: 40.5vw;
		margin-top: 15px;
        @media (max-width: 414px){
           margin-left: 30.5vw;
        }
	}
    span{
        cursor: pointer;
    	width:6vw;
    	display: block;
    	height: 3vw;
    	float: left;
    	margin-left: 5px;
    	border: 1px solid #CCC;
    	border-radius: 20px;
    	line-height: 3vw;
        font-size: 1.3vw;
        font-weight: 800;
        @media (max-width: 414px){
           width:11vw; 
           line-height: 1vw;
           height: 2vw;
           border-radius: 0px;
           border: 0px;
           border-right: 1px solid #fff;
        }
        a{
            color: #fff;
            text-decoration:none;
        }


    }
	
}
