form {
	width:50vw;
	height: auto;
	overflow: auto;
	margin-left: 30vw;
	lable{
		display: block;
	}
	input{
		width: 80%;
		height: 30px;
		outline: none;
		border: 1px solid #ccc;background-color:#FFF;
	}
}